h1{
    background-color: #c0c0c0;
    font-family: "arial black";
    font-size: 18pt;
    margin-left: 1in;
    margin-right: 1in;
    text-align:center
}

.miParrafo{
background-color: #c0c0c0;
font-family: "comic sans ms";
font-size: 14pt;
margin-left: 1in;
margin-right: 1in;
margin-top: -18px
}