.flex-container {
    display: flex;
    flex-direction: row-reverse;
    background-color: DodgerBlue;
  }

  /* El selector mayor que el signo (>) en CSS se utiliza 
para seleccionar el elemento con un elemento primario específico. 
Se llama como elemento> selector de elementos . También se conoce como selector
de combinador secundario, lo que significa que selecciona solo aquellos elementos
que son hijos directos de un padre. Se ve solo un nivel por debajo de la estructura
de marcado y no más en el fondo. Los elementos que no son hijos directos del padre especificado no se seleccionan. */
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }